@model SchoolGradeManager.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1 class="h2">Details</h1>

<div>
    <h4 class="h4">Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
    </dl>
    <h4 class="h4">Grades</h4>
    <hr />
    <dl class="rowGrade">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grade.G_Math)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grade.G_Math)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grade.G_English)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grade.G_English)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grade.G_Biology)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grade.G_Biology)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grade.G_History)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grade.G_History)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grade.G_Geography)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grade.G_Geography)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.grade.G_PE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.grade.G_PE)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }, new {@class ="btn btn-success"}) |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
