@model IEnumerable<SchoolGradeManager.Models.Test>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h2" style="text-align: center">Index</h1>

<p>
    <a class="btn btn-primary"  asp-action="Create">Create New Test</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestQuestions.FirstOrDefault().test.TestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestQuestions.FirstOrDefault().question.operation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestQuestions.FirstOrDefault().test.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestQuestions.FirstOrDefault().question.operation)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit",  new {  id=item.id  }, new {@class = "btn btn-primary"})
                    @Html.ActionLink("Details", "Details", new {  id=item.id  }, new {@class = "btn btn-secondary"}) 
                    @Html.ActionLink("Delete", "Delete",  new {  id=item.id  }, new {@class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
