@model IEnumerable<SchoolGradeManager.Models.Test>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h2" style="text-align: center">Testy</h1>

<p>
    <a class="btn btn-primary"  asp-action="Create">Utwórz nowy test</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                Nazwa testu
            </th>
            <th>
                Ilość pytań w teście
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestQuestions.Count)
            </td>
            <td>
                    @Html.ActionLink("Edytuj", "Edit",  new {  id=item.id  }, new {@class = "btn btn-primary"})
                    @Html.ActionLink("Dodaj pytania", "AddQuestions",  new {  id=item.id  }, new {@class = "btn btn-primary"})
                    @Html.ActionLink("Szczegóły", "Details", new {  id=item.id  }, new {@class = "btn btn-secondary"}) 
                    @Html.ActionLink("Usuń", "Delete",  new {  id=item.id  }, new {@class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
