@model IEnumerable<SchoolGradeManager.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h2" style="text-align: center">Pytania</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Utwórz nowe pytanie</a>
</p>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                Działanie
            </th>
            <th>
                Poprawna odpowiedź
            </th>                                   
            <th>                                    
                Błędna odpowiedź 1
            </th>                                   
            <th>                                    
                Błędna odpowiedź 2
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.answer1)
            </td>                                  
            <td>                                   
                @Html.DisplayFor(modelItem => item.answer2)
            </td>                                  
            <td>                                   
                @Html.DisplayFor(modelItem => item.answer3)
            </td>
            <td>
                    @Html.ActionLink("Edytuj", "Edit", new {  id=item.id  }, new {@class = "btn btn-primary"}) 
                    @Html.ActionLink("Szczegóły", "Details", new {  id=item.id  }, new {@class = "btn btn-secondary"}) 
                    @Html.ActionLink("Usuń", "Delete", new {  id=item.id  }, new {@class = "btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
