@model IEnumerable<SchoolGradeManager.Models.Grade>

@{
    ViewData["Title"] = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



<h1 class="h2" style="text-align: center">Table of grades</h1>

<table class="table table-hover">
    <thead>
        <tr style="text-align: center">
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.G_Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align: center">
                <td>
                    @Html.DisplayFor(model => item.student.StudentFirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.G_Score)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.GradeId  }, new {@class = "btn btn-primary"})
                    @Html.ActionLink("Delete", "Delete", new {  id=item.GradeId  }, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>


